*{margin: 0; padding: 0;}

.khoi1{
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
}
.khoi1 img{
    width: 500px;
    height: 500px;
}
.khoi1::before,.khoi1::after{
    content: '';
    position: absolute;
    top: 40px; left: 40px;
    width: 420px;
    height: 420px;
    border: 1px solid white;
    border-top-color: transparent;
    border-bottom-color: transparent;
    transform: scaleY(0);
    transition: 0.4s;
}
.khoi1::before{
    border-top-color: white;
    border-bottom-color: white;
    border-left-color: transparent;
    border-right-color: transparent;
    transform: scaleX(0);
}
.khoi1:hover:before{transform: scaleX(1);}
.khoi1:hover:after{ transform: scaleY(1);}

#but-1{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: burlywood;
    cursor: pointer;
    margin-left: 46%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.to{
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto;
    perspective: 1500px;
}
.to .nho img {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;left: 0;
    transform-origin: 0 0;
    transition: 0.4s;
}

.duoi{
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;

}
.duoi img{
    width: 500px;
    height: 500px;
} 
.duoi::after{
    content: '';
    position: relative;
    top: 0px; left: 0;
    width: 600px;
    height: 300px;
    background-color: black;
    display: block;
    transform-origin: 0 0;
    transform:rotateZ(0deg);
    transition: 0.4s;
}
.duoi:hover:after{
    transform:rotateZ(-25deg);
}
.xoay .nho img:nth-child(1){transform:rotateX(5deg);}
.xoay .nho img:nth-child(2){transform:rotateX(25deg);}
.xoay .nho img:nth-child(3){transform:rotateX(35deg);}
.xoay .nho img:nth-child(4){transform:rotateX(45deg);}
 