*{margin: 0; padding: 0;}

.card{transition: 0.4s;}
 .cangiua{
     /* transform: translateX(700px); */
     animation: sangphai 1s forwards;
 }
 @-webkit-keyframes sangphai{
        0%  {transform: translateX(0);margin-top: 0; opacity: 1;}
        50% {transform: translateX(200px);margin-top: 00px; opacity: 1;}
        100%{transform: translateX(200px);margin-top: 200px; opacity: 0;}
 }