*{
    padding: 0; width: 100%;
    margin: 0;
}
.nav {display: flex;
    background-color: white;
width: 100%;
height: 80px;}
.nav .logo{width: 10%;}
.nav .menu {width: 80%;
}
.nav .menu ul{
    width: 100%;
    display: flex;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}
.nav .menu ul li {
}

.nav .menu ul li a{
    text-decoration: none;
    color: black;
    line-height: 80px;
}
.nav .menu ul li a:after{
    content: '/';
    padding-left: 60px;
}
.nav .button{
    width: 10%;
}
.nav .button a{    text-decoration: none;}
.nav .button a:after{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    content: 'CALL BACK';
    color:wheat;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 170px;
    display: block;
    border-radius: 30px;
    margin-top: 10px;
    background-image: -webkit-linear-gradient(left,#ffcd4a, #f15b26);
    transition: 0.4s;
}
.nav .button:hover a:after{
    background-image: -webkit-linear-gradient(right, #9cc026, #5faf21);
}