.product{
    width: 300px;
    height: 360px;
    position: relative;
    font-family: 'functionpro_book';
    font-size: 25px;
    color: turquoise;
    perspective: 400px;
}
.product .layer1{width: 300px; height: 360px;}
.product .layer2{
    position: absolute;
    top:20px; left:20px;
    width: 260px;
    height: 320px;
    background-color: white;
    opacity: 0;
    transition: 0.4s;
    transform-origin: 0 0;
}
.product:hover .layer2{
    opacity: 0.7;
    transform: rotateY(30deg);
    left: -10px;
}
.product .layer3{
    position: absolute;
    top:52px; left:42px;
    font-size: 45px;
    opacity: 0;
    transition: 0.4s;
}
.product:hover .layer3{
    opacity: 1;
}
.product .layer4{
    position: absolute;
    bottom: 50px; left: 42px;
    opacity: 0;
    transition: 0.4s;
}
.product:hover .layer4{
    bottom: 70px;
    opacity: 1;
    transition-delay: 0.4s;
}
.product .layer5{
    position: absolute;
    bottom: 35px; left: 42px;
    opacity: 0;
    transition: 0.4s;
}
.product:hover .layer5{
    bottom: 45px;
    opacity: 1;
    transition-delay: 0.4s;
}
