.bo{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}
.bo .lop1{
    width: 200px;
    height: 200px;
    transition: 0.4s;
}
.bo:hover .lop1{
    transform:scale(1.1);
}
.bo .lop2{
    width: 200px;
    height: 200px;
    background-color: black;
    opacity: 0;
    position: absolute;
    top:0; left: 0;
    transition: 0.4s;
}
.bo:hover .lop2{
    opacity: 0.4;

}
.bo .lop3{
    color: rgba(231, 230, 230,0.8);
    font-size: 70px;
    position: absolute;
    top:64px; left:69px;
    transform: scale(0);
    transition: 0.4s;
}
.bo:hover .lop3{

    transform: scale(1);
}