.bo{
    height: 500px;
    width: 500px;
    position: relative;
}
.bo .xoay{
    height: 500px;
    width: 500px;
    transition: 0.4s;

    position: absolute;
}
.bo:hover .xoay{
    transform: rotate(180deg);
    transition: 1s;
}
.bo .kxoay{
    height: 200px;
    width: 200px;
    transition: 0.4s;

    position: absolute;
    top:146px; left: 146px;
}